.eric6project/
.ropeproject/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store

dist/
doc/html/
doc/ancientfiles.tag
ancientfiles.e4p
ancientfiles.egg-info/
ancientfiles_example/
build/
