.eric6project/
.ropeproject/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store

dist/
doc/html/
doc/translate_odf.tag
translate_odf.e4p
translate_odf.egg-info/
translate_odf/objects/locale/
